<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soberich.oldstylegithub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserDetailActivity"
            android:label="@string/title_user_detail"
            android:parentActivityName=".UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="soberich.oldstylegithub.UserListActivity" />
        </activity>

        <provider
            android:name=".GitHubUsersContentProvider"
            android:authorities="soberich.oldstylegithub"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true" />

        <service
            android:name=".FetchUsersJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:description="Syncing data for OldSchool GitHub app" />
    </application>

</manifest>